.welcomepage {
    height:100vh;
    background-image: url(../images/tokyo2.jpg);
    background-size: cover;
    text-align: center;
    
}

.title {
    width: 20rem;
    padding: 1rem;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    opacity: 80%;  
}

.about {
    width: 20rem;
    padding: 2rem;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    opacity: 80%;
}

.mappage {
    background-color: black;
    height: 100vh;
}

/* #map {
    height: 100vh;
    width: 100%;
    border-radius: 40%;
} */

#map {
    height: 80vh;
    width: 100%;
    border-radius: 3%;
}

.contactpage {
    height:100vh;
    background-image: url(../images/seoul3.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px 30px 30px 30px;
    color: white;
    
}

.form-control {
    margin: 20px 0;
    width: 60%;
    margin-left: 19%;
}

html {
    scroll-behavior: smooth;
}

.s-m {
    text-align: center;
    padding: 10px 0;
    background: #343a40;
    height: 60px;
 }
 .s-m a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #FF69B4 ;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 22px;
 }
 .s-m a:hover {
    color: black;
    text-decoration: none;
 }
 .s-m a i {
    transition: 0.2s all;
 }
 .s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);