.welcomepage {
    height:100vh;
    background-image: url(../images/tokyo2.jpg);
    background-size: cover;
    text-align: center;
    
}

.title {
    width: 20rem;
    padding: 1rem;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    opacity: 80%;  
}

.about {
    width: 20rem;
    padding: 2rem;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    opacity: 80%;
}

.mappage {
    background-color: black;
    height: 100vh;
}

#map {
    height: 59rem;
    width: 100%;
}

.contactpage {
    height:100vh;
    background-image: url(../images/seoul3.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px 30px 30px 30px;
    color: white;
    
}

.form-control {
    margin: 50px 0;
    width: 60%;
    margin-left: 19%;
}